<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" data-provider-thread-count="1">
	<test name="Test1">
		<parameter name="path" value="/"/>
		<classes>
		    <class name="ru.st.selenium.Login"/>
		    <class name="ru.st.selenium.AddDvd"/>
		    <class name="ru.st.selenium.RmDvd"/>
		    <class name="ru.st.selenium.AddNewDvd"/>
		    <class name="ru.st.selenium.RmDvd"/>
		    <class name="ru.st.selenium.Logaut"/>
		    <class name="ru.st.selenium.ModeUsers"/>
		    <class name="ru.st.selenium.Prepare"/>
		    <class name="ru.st.selenium.Search"/>
		    <class name="ru.st.selenium.Trimming"/>
		    <class name="ru.st.selenium.SearchInImdb"/>
		    <class name="ru.st.selenium.SearchInImdbBed"/>
		    <class name="ru.st.selenium.Logaut"/>
		</classes>
	</test>  
</suite>
